# This is the default configuration for printer: FELIX Pro 3
# Version: 0.03
# Date: 28-06-2024

[include macros.cfg]
[include unique.cfg]
[include felix_mainboard.cfg]

[save_variables]
filename:/var/lib/Repetier-Server/database/klipper/variables.cfg

[mcu]
#serial: /dev/ttyACM0
serial: /dev/serial/by-id/usb-Arduino__www.arduino.cc__Arduino_Due_Prog._Port_85332343332351517042-if00
restart_method: arduino

[printer]
kinematics: cartesian
max_velocity: 180
max_accel: 1500
max_z_velocity: 15
max_z_accel: 100

#[safe_z_home]
#home_xy_position: 156, 210
#home_xy_position: 138, 210
#speed: 50.0
#z_hop: 5
#z_hop_speed: 15.0
#move_to_previous: True

[homing_override]
gcode:
  SET_KINEMATIC_POSITION Z=0
  G91
  G1 Z5 F600
  G90
  G28 X
  G28 Y
  G1 X136 Y210 F3000
  {% if 'extruder1' in printer.toolhead.extruder %}
    {% if printer.extruder1.temperature < 190 %}
      M109 T1 S195
    {% endif %}
  {% else %}
    {% if printer.extruder.temperature < 190 %}
      M109 T0 S195
    {% endif %}
  {% endif %}
  G28 Z
  M104 S0
  G91
  G1 Z10 F600
  G90
axes: Z

[stepper_x]
step_pin: Z_Step
dir_pin: !Z_Dir
enable_pin: Z_En
microsteps: 128
rotation_distance: 41.967
endstop_pin: X_Endstop
position_endstop: -20
position_max: 235
position_min: -20
homing_speed: 60
homing_retract_dist: 7.0
homing_retract_speed: 50
second_homing_speed: 25

[stepper_y]
step_pin: Y_Step
dir_pin: Y_Dir
enable_pin: Y_En
microsteps: 128
rotation_distance: 41.967
endstop_pin: Y_Endstop
position_endstop: 243
position_max: 244
position_min: -1
homing_speed: 60
homing_retract_dist: 7.0
homing_retract_speed: 50
second_homing_speed: 25

[stepper_z]
step_pin: X_Step
dir_pin: !X_Dir
enable_pin: X_En
microsteps: 128
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_max: 235
position_min: -10
homing_speed: 10
homing_retract_dist: 5.0
homing_retract_speed: 15
second_homing_speed: 2.5

[extruder]
step_pin: EXT0_Step
dir_pin: !EXT0_Dir
enable_pin: !EXT0_En
microsteps: 16
#rotation_distance: 22.413 # Flow 100%
#rotation_distance: 21.7687 # Flow 94%
#rotation_distance: 23.00612966 # Test
rotation_distance: 22.85714286 # Test
nozzle_diameter: 0.5
filament_diameter: 1.750
max_extrude_only_distance: 250
max_extrude_cross_section: 500
pressure_advance: 0.0175
pressure_advance_smooth_time: 0.040
max_extrude_only_velocity: 60
heater_pin: EXT0_Heater
max_power: 1.0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EXT0_Temp
smooth_time: 1.0
control: pid
pid_kp: 11.5
pid_ki: 0.8
pid_kd: 80
#pid_kp: 11.132
#pid_ki: 0.546
#pid_kd: 56.771
pwm_cycle_time: 0.01
min_extrude_temp: 150
min_temp: 0
max_temp: 290

[extruder1]
step_pin: EXT1_Step
dir_pin: EXT1_Dir
enable_pin: !EXT1_En
microsteps: 16
#rotation_distance: 22.413 # Flow 100%
#rotation_distance: 21.7687 # Flow 94%
rotation_distance: 22.86584248
nozzle_diameter: 0.5
filament_diameter: 1.750
max_extrude_only_distance: 250
max_extrude_cross_section: 500
pressure_advance: 0.0175
pressure_advance_smooth_time: 0.040
max_extrude_only_velocity: 60
heater_pin: EXT1_Heater
max_power: 1.0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EXT1_Temp
smooth_time: 1.0
control: pid
pid_kp: 11.5
pid_ki: 0.8
pid_kd: 80
#pid_kp: 11.132
#pid_ki: 0.546
#pid_kd: 56.771
pwm_cycle_time: 0.01
min_extrude_temp: 150
min_temp: 0
max_temp: 290

[heater_bed]
heater_pin: BED_Heater
sensor_type: EPCOS 100K B57560G104F
sensor_pin: BED_Temp
inline_resistor: 0
control: pid
pid_kp: 80
pid_ki: 0.2
pid_kd: 60.0
pwm_cycle_time: 0.01
min_temp: 0
max_temp: 110

[verify_heater heater_bed]
max_error: 400
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 120
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 15
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 1
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

[manual_stepper LVL1]
step_pin: LVL1_Step
dir_pin: !LVL1_Dir
enable_pin: !LVL1_En
microsteps: 16
rotation_distance: 1.0
velocity: 0.1

[manual_stepper LVL2]
step_pin: LVL2_Step
dir_pin: !LVL2_Dir
enable_pin: !LVL2_En
microsteps: 16
rotation_distance: 1.0
velocity: 0.1

#[bed_mesh]
#speed: 75
#horizontal_move_z: 5
#mesh_min: 10, 10
#mesh_max: 290, 390
#probe_count: 3, 4
#split_delta_z: .025
#move_check_distance: 5.0
#mesh_pps: 4, 4
#algorithm: bicubic
#bicubic_tension: .2
#zero_reference_position: 10, 10

[probe]
pin: Z_Probe
x_offset: 0
y_offset: 0
z_offset: -0.25
speed: 1.0
samples: 3
sample_retract_dist: 2
activate_gcode:
  {% if 'extruder1' in printer.toolhead.extruder %}
    {% if printer.extruder1.temperature < 190 %}
      M109 T1 S195
    {% endif %}
  {% else %}
    {% if printer.extruder.temperature < 190 %}
      M109 T0 S195
    {% endif %}
  {% endif %}

[fan]
pin: FAN_Part
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.100
off_below: 0.3

[servo Hotends]
pin: SERVO_0
maximum_servo_angle: 165

[filament_motion_sensor FilamentsensorE0]
detection_length: 4.0
extruder: extruder
switch_pin: EXT0_Filament
pause_on_runout: False
runout_gcode: M118 Filament Jam detected!

[filament_motion_sensor FilamentsensorE1]
detection_length: 4.0
extruder: extruder1
switch_pin: EXT1_Filament
pause_on_runout: False
runout_gcode: M118 Filament Jam detected!

[respond]
default_type: command

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    150, 200, 20  # Middle of the Pro L
#max_freq: 100.00